<div class="main-container">
    <div class="top-section">
        <!-- <img src="assets/robot-hand.png" alt="Mano de Robot" class="robot-hand" /> -->
        <div class="dots-pattern top-right-dots"></div>

        <img src="assets/img1.png" alt="Icono de Inteligencia Artificial" class="top-decor-icon">

    </div>

    <h1 class="welcome-text pixel-font">Exploradores <br> de la IA</h1>

    <div class="navigation-buttons">
        <button class="nav-button pixel-font" routerLink="/que-es-claude-ai">¿Qué es Claude.AI?</button>

        <button class="nav-button pixel-font" routerLink="/actividad-1">Actividad 1 con educaplay</button>

        <button class="nav-button pixel-font" routerLink="/inteligencia-artificial">Inteligencia Artificial en la vida diaria y educación</button>

        <button class="nav-button pixel-font" routerLink="/evaluacion">Evaluación</button>
    </div>

    <div class="footer-section" style="color: white;">
        <p class="integrantes-title pixel-font" style="font-family: 'Press Start 2P', cursive;">
            <strong>CREADO POR:</strong>
        </p>


        <img src="assets/robot11.com.png" alt="Descripción" width="300" height="200" style="position: absolute; top: -40px; left: -330px;">

        <img src="assets/ail.png" alt="Descripción" width="130" height="130" style=" position: absolute; top: -30px; left: 700px; ">

        <img src="assets/compu.png " alt="Descripción " width="300 " height="200 " style="position: absolute; top: -470px; left: 650px; ">


        <p class="student-name ">Angela Valeria Castro Telá</p>
        <p class="student-name ">Javier Francisco Pantoja Guanga</p>
        <p class="student-name ">Giovanny Alexander Jojoa Gesama</p>

        <div class="dots-pattern bottom-left-dots "></div>
    </div>